snippet section
	; ${1:Section Name} =========================================================${2:}
	; =============================================================================
	
	${3:}

snippet sub
	; ${1:Description} { ${2:A} } ----${3:}
	; ------------------------------------
	${4:foo}:
		${5:lda    0}
		rts

